@mixin fontWalsh($name, $nameWeight, $weight) {
  @font-face {
      font-family: #{$name};
      src: url("../../fonts/#{$name}/#{$name}-#{$nameWeight}.ttf") format("TrueType");
      font-weight: $weight;
      font-display: fallback;
  }
}

$Inter: 'Inter';

// @include fontWalsh($Inter, 'Black', 900);
// @include fontWalsh($Inter, 'ExtraBold', 800);
@include fontWalsh($Inter, 'Bold', 700);
@include fontWalsh($Inter, 'SemiBold', 600);
@include fontWalsh($Inter, 'Medium', 500);
@include fontWalsh($Inter, 'Regular', 400);
@include fontWalsh($Inter, 'Light', 300);

.article-level {
  &-1 {
    font-size: 38px;
    line-height: 45px;
    font-weight: 400;
    color: $black;
    font-family: $Inter;

    @include media ("<md") {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &-2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    color: $black;
    // font-family: $fontAudrey;
    text-transform: uppercase;

    @include media ("<md") {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &-3 {
    font-size: 30px;
    line-height: 37.65px;
    font-weight: 200;
    color: $black;
    // font-family: $fontMulish;
    text-transform: uppercase;

    @include media ("<md") {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &-4 {
    font-size: 25px;
    line-height: 31.38px;
    font-weight: 300;
    color: $black;
    // font-family: $fontMulish;

    @include media ("<md") {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.text {
  &-main {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: $black;
    // font-family: $fontMulish;
  }

  &-addit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    // font-family: $fontMulish;
  }
}

// Ico

.ico {
  &-promo-star {
    width: 36px;
    height: 36px;
    display: block;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzNiAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDBMMjIuMDQxMyAxMi40Mzc3SDM1LjExOUwyNC41Mzg5IDIwLjEyNDZMMjguNTgwMSAzMi41NjIzTDE4IDI0Ljg3NTRMNy40MTk4NyAzMi41NjIzTDExLjQ2MTEgMjAuMTI0NkwwLjg4MDk4MyAxMi40Mzc3SDEzLjk1ODdMMTggMFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=');
    background-size: contain;
    background-repeat: no-repeat;
  }
}