.socials {
  &-large {
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
      width: 54px;
      height: 54px;
      margin-right: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $black;
      border-radius: 50%;
      color: $white;
      font-size: 28px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}