.promo-banner {
  height: 30px;
  display: flex;
  align-items: center;
  background: $white;

  &.fixed {
    margin-bottom: 62px;
  }

  &--cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(">md") {
      padding-left: 15px;
      padding-right: 15px;
    }

    span {
      color: $black;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;

      @include media("<md") {
        font-size: 8px;
      }
    }
  }
}