.promo-banner {
  padding: 6px 0;
  background: $white;

  &.fixed {
    margin-bottom: 62px;
  }

  &--cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: $black;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;

      @include media("<md") {
        font-size: 8px;
      }
    }
  }
}