.woocommerce-Reviews {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 6px solid black;
}

.commentlist {
  max-width: 750px;
  margin: 0 auto !important;
  padding-left: 0;

  .children {
    margin-left: 25px !important;
  }

  .comment-item {
    margin: 0 auto 15px;
    padding: 15px 25px;
    background: #f8f8f8;

    &--user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        margin-right: 3px;
        font-size: 12px;
        color: #6d6d6d;
        font-weight: 500;

        &:after {
          content: '|';
          margin-left: 3px;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            content: '';
            margin-left: 0;
          }
        }
      }
    }

    &--main {
      .name {
        display: flex;
        flex-direction: row;
        align-items: center;

        .username {
          color: $black;
          font-size: 21px;
          text-transform: uppercase;
          font-weight: 700;
        }

        .rate {
          margin-left: 10px;
        }
      }

      .age {
        color: $black;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .metas {
      display: flex;
      flex-direction: row;

      &-item {
        margin-top: 5px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        &:last-child {
          margin-right: 0;
        }
      }

      &-first {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        opacity: .7;
      }

      &-second {
        font-size: 18px;
        font-weight: 700;
      }
    }

    &--avatar {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--body {
      margin-top: 15px;

      .description {
        max-width: 600px;
        color: $black;

        p {
          margin-bottom: 0;
        }
      }

      .meta {
        .woocommerce-review__author {
          display: none;
        }

        .woocommerce-review__dash {
          display: none;
        }

        .woocommerce-review__published-date {
          color: $black;
          font-size: 12px;
          opacity: .6;
        }
      }
    }
  }
}

.comments-header {
  max-width: 450px;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--main {
    .rate {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        margin-right: 10px;
        color: $black;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
      }

      .info-rate-title {
        display: none;
      }
    }

    .description {
      color: $black;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.comment-respond {
  max-width: 750px;
  margin: 0 auto 25px !important;
  padding: 15px 25px !important;
  background: #f8f8f8 !important;

  .comment-reply-title {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;

    a {
      color: $black;
    }

    small {
      display: block;
      
      a {
        font-size: 14px;
        color: black;
      }
    }
  }

  .comment-form-libs {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .comment-form-comment {
    display: flex;
    flex-direction: column;

    input {
      background: transparent;
      color: $black;
      font-size: 16px;
      font-weight: 300;
      border: none;
      border-bottom: 1px solid $black;

      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .comment-form-rating {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      font-size: 18px;
      color: $black;
      font-weight: 600;

      .required {
        display: none;
      }
    }

    .stars {
      margin-bottom: 0 !important;
      margin-left: 10px !important;
      font-size: 18px;
      color: #fff;
      line-height: 20px;

      a {
        color: #ff0000;
      }
    }
  }

  .comment-form-comment {
    label {
      margin-bottom: 5px;
      font-size: 18px;
      color: $black;
      font-weight: 600;

      .required {
        display: none;
      }
    }

    textarea {
      background: transparent;
      color: $black;
      font-size: 16px;
      font-weight: 300;
      border: none;
      border-bottom: 1px solid $black;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .submit {
    padding: 8px 14px !important;
    color: $white !important;
    background: $black !important;
    border-radius: 0 !important;
    border: 2px solid $white !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    transition: .2s;

    &:hover {
      background: $white !important;
      color: $black !important;
    }
  }
}

.woocommerce-noreviews {
  display: none;
}